body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #007bff;
}

.calculator {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button {
    padding: 15px;
    margin: 5px;
    font-size: 18px;
}
